
<!--<div class="container" style="width: 100%;">
    <div class="row">
        <div class="card" style="width: 30%;">
            <img class="card-img-top" src="<%- postOneImage %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%- postOneTitle %></h5>
              <p class="card-text"><a href="/user?id=<%- postOneUserId %>"><%- postOneUserName %></a> - <%- postOneDate %></p>
              <a href="/article?id=<%- postOneId %>" class="btn btn-primary">Read</a><br><br>
              <p class="text-muted">Tags: <%- postOneTags %></p>
            </div>
        </div>       
    </div>
</div>-->